@rendermode InteractiveServer
@page "/requests"
@using Requeceptor.Domain
@attribute [StreamRendering]


<PageTitle>Requests</PageTitle>

<strong>Requests</strong>

@{
    var rowIndex = 0;
}

@if (_requests == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenRow>
        <RadzenColumn SizeSM="12" SizeMD="12" SizeLG="12" SizeXL="8">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Simple" AllowSorting="true" PageSize="10" AllowPaging="true"
                    PagerHorizontalAlign="HorizontalAlign.Center" ShowPagingSummary="true" TItem="RequestRecord" 
                    Data="@_requests" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.And" SelectionMode="DataGridSelectionMode.Single" @bind-Value=@_selectedRequests>
                <PagingSummaryTemplate>
                    <RadzenIcon Icon="database" Style="color: var(--rz-primary); font-size: var(--rz-pager-summary-font-size);" />
                    Displaying page @context.CurrentPage of @context.NumberOfPages <b>(total @context.TotalCount records)</b>
                </PagingSummaryTemplate>
                <Columns>
                    <RadzenDataGridColumn Property="@nameof(RequestRecord.Id)" Filterable="false" Title="ID" Width="80px" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn Property="@nameof(RequestRecord.ReceivedAt)" Title="Received At" Width="160px" />
                    <RadzenDataGridColumn Property="@nameof(RequestRecord.Method)" Title="Method" Width="100px" />
                    <RadzenDataGridColumn Property="@nameof(RequestRecord.Path)" Title="Path" />
                    <RadzenDataGridColumn Property="@nameof(RequestRecord.QueryString)" Title="QueryString" />
                    <RadzenDataGridColumn Property="@nameof(RequestRecord.Action)" Title="Action" MaxWidth="200px" />
                    <RadzenDataGridColumn Property="@nameof(RequestRecord.ContentType)" Title="ContentType" Width="160px" />
                    <RadzenDataGridColumn Property="@nameof(RequestRecord.ContentLength)" Title="Length" Width="100px" Visible=false />
                </Columns>
            </RadzenDataGrid>
        </RadzenColumn>

        <RadzenColumn SizeSM="12" SizeMD="12" SizeLG="12" SizeXL="4">
            <RadzenCard Style="height:100%">
                <RadzenTabs>
                    <Tabs>
                        <RadzenTabsItem Text="Body">
                            <pre>
                                @FormatBody(_selectedRequests?.FirstOrDefault()?.Body)
                            </pre>
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Headers">
                            <pre>
                                @FormatBody(_selectedRequests?.FirstOrDefault()?.Headers)
                            </pre>
                        </RadzenTabsItem>
                    </Tabs>
                </RadzenTabs>
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>

}


